engine-strict=true
auto-install-peers = true

# workspace
shared-workspace-lockfile = false
recursive-install = false
shamefully-hoist = true

# better-typescript-lib
# public-hoist-pattern[]=@typescript/*
